doctype HTML
HTML
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/all.min.css')
    link(rel='stylesheet', href='css/main.css')
    title Keystrock
  body
    .lines
      .line
      .line
      .line
      .line
      .line
      .line
      .line
      .line
      .line
      .line
    header
      .container
        .row.navbar
          .col-4
            .logo
              h2 Keystrock
              span Startup template
          .col-8
            nav.float-right
              ul
                li
                  a(href='#') Template
                li
                  a(href='#') Features
                li
                  a(href='#') Why Us
              button Buy Now <i class="fas fa-shopping-cart"></i>
        h1 Creative agency,<br>corporate and portfolio<br>HTML Template
        a(href='#', class='explore') <i class="fas fa-arrow-down"></i> Explore Template
        .screens
          img(src='img/header2.png', alt='...', class='header2')
          img(src='img/header1.png', alt='...', class='header1')
          img(src='img/header3.png', alt='...', class='header3')
        .shapes
          img(src='img/shape-01.svg', alt='...', class='shape-01')
          img(src='img/shape-02.svg', alt='...', class='shape-02')
          img(src='img/shape-03.svg', alt='...', class='shape-03')
          img(src='img/shape-04.svg', alt='...', class='shape-04')
          img(src='img/shape-05.svg', alt='...', class='shape-05')
          img(src='img/shape-06.svg', alt='...', class='shape-06')
        .status
          .st
            h3 Demo Website
            span 05+
          .st
            h3 Inner Page
            span 20+
          .st
            h3 Elements
            span 15+
    section.our-work
      .container
        .row.header
          .col
            h2 Our Template Are Just<br>Ready to Use
          .col 
            p You will love all of the features in our template.<br>100% guaranteed satisfaction.
    script(src='js/jquery-3.4.1.slim.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/anime.min.js')
    script(src='js/main.js')